.navbar {
    color: white;
    height: 250px;
    background: rgb(6, 6, 6);
    background: linear-gradient(349deg, rgba(6, 6, 6, 1) 17%, rgba(46, 46, 46, 1) 100%);
    -webkit-box-shadow: 0px -1px 24px -3px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 0px -1px 24px -3px rgba(0, 0, 0, 0.79);
    box-shadow: 0px -1px 24px -3px rgba(0, 0, 0, 0.79);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* z-index: -1; */
}

.navbar:before,
.navbar:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.navbar:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

/* #experiment:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    border-bottom: 130px solid rgb(82, 81, 81);
    border-right: 200px solid rgb(7, 7, 7);
    width: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
} */

#imgDiv {
    width: 5px;
    /* padding-right: 150px; */
}

#bookImg {
    position: absolute;
    width: 95%;
    /* left: 0px; */
    top: 0px;
    background-repeat: no-repeat;
    height: 120%;
    margin-left: 10%;
    margin-top: 2%;
    z-index: 0;
}

#search-input {
    z-index: 2;
}

.page-link {
    margin-left: 90%;
    padding-top: 25px;
    color: white;
    text-decoration: none;
    z-index: 2;
    position: relative;
}

.title {
    margin-left: 29%;
    color: white;
}
a { 
    text-decoration: none; color:white; 
    z-index: 2;
}


h1 {
    margin-top: 20px;
    font-size: 60px;
    font-weight: lighter;
}

h5 {
    margin-top: -50px;
    font-size: 25px;
    font-weight: lighter;
}

/* {
    margin-left: 29%;
    
} */